*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    
    
}
body{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  align-items: center;
  padding-top: 10px 0px;
background-color: red;
 
}

button{
  cursor: pointer;
}
a{
  display: inline-block;
  text-decoration: none;
  color: unset;
}
li{
  list-style-type: none;
}
.col-3 {
  width: 25%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row-revere {
  flex-wrap: wrap-reverse;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}
.container{
  max-width: 1550px;
  margin: auto;
  padding: 0 40px;
 

}
.bg-second{
  background-color:whitesmoke;

}
.top-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.top-header ul{
  display: flex;
}
.top-header a {
  font-size: 13px;
}
ul.devided > i{
   margin-right: 10px;
   padding-right: 10px;
   border-right: 1px solid;
}
.devided  li  {
        margin-left: 10px;
}
.devided li :hover{
  color: orange;
}
.mid-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  
}
.search{
  width: 620px;
  height: 40px;
  position: relative;
}
.search input{
  height: 100%;
  width: 100%;
  outline: 0;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 10px;
  border: 0;
  background-color: whitesmoke;
}
.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  font-size: 23px;
}
.user-menu{
  display: flex;
}
.user-menu  li  {
  font-size: 25px;
  margin-left: 15px;
  
}
.user-menu li a:hover{
  color: orange;
}
.bottom-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu{
  display: flex;
  margin-left: 40px;
}
.main-menu li a{
  display: flex;
  align-items: center;
  margin: 0 100px;
  font-weight: 600;
  height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  

}

.main-menu ul li a:hover{
  color: rgb(214, 12, 12);
}
.main-menu a:hover {
  border-bottom: 2px solid rgb(214, 12 ,12);
}

.logo{
  margin-left: 20px;
}
.menu-header{
     padding-top: 25px;
}
 
 .mega-content {
   visibility: hidden;
   position: absolute;
   opacity: 0;
   left: 0;
   width: 100%;
   top: calc(100% + 100px);
   transition: all .4s cubic-bezier(0.77, 0, 0.175, 1);
   background-color: white;
   box-shadow: rgba( 100, 100, 111, 0.2) 0 7px 29px 0;
   padding: 10px 200px;
   font-family: 'Roboto', sans-serif;
}
.mega-dropdown:hover .mega-content {
    opacity: 1;
    visibility: visible;
    top: 100%;

}
.mega-content h4 {
  margin: 20px 0px;
  padding-left: 25px;
  text-align: left;
  font-size: 25px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
.mega-content ul {
  display: flex;
  flex-direction: column;
  
}
.mega-content li {
  text-align: center;
}
.mega-content ul li a {
  font-weight: normal;
  padding: 10px 0px;
  transition: padding-left 1s ease-in-out;
  font-size: 16px;
 
  width: 250px;
}
.mega-content ul li a:hover {
  padding-left: 10px;
}
.box img {
  width: 60%;
}
.box {
  padding: 20px 10px ;
  
}
#myUL {
  padding: 0px;
  margin: 0;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.5, 0, 0.15, 0.75) ;
  visibility: hidden;
  display: block;
}

#myUL li a {
  background-color: white;
  padding: 14px 20px;
  font-size: 18px;
  color: black;
  display: block;
  border-bottom: 1px solid gainsboro;
  
}

.search:hover #myUL {
  opacity: 1;
  padding-top: 10px;
  visibility: visible;
  top: 100%;
  
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
