.footer{
    background-color:whitesmoke;
    color:black;
    
}
.footer ul li a{
    color: black;
    padding: 10px;
    
    
}

.footer-row{
    
    padding: 0 25px;
    
}

.footer-row h3{
    text-transform: capitalize;
    margin-bottom: -20px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-left: 15px;
 
 }
 
.sin{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
 }
 .border{
     border: white;
     width: 100%;
     
     padding: 30px ;
    
 }
 .finally{
     margin-bottom: 80px;
     display: flex;
 }

 
