.roww {
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 30px 30px;
    
  }
  
  h3 {
    padding: 40px 0px;
    
  }
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 30%;
    
  }
  
  .col-75 {
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  .pttt{
      margin-top: 10px;
  }
  .tkatm{
      margin-top: 60px;  }
      
  .ttvc{
    background-color: ghostwhite;
    padding: 0 20px;
    
    border-radius: 3px;
  }
  input[type=checkbox]{
    border: 1px solid #ccc;
    

  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
 
  
  span.price {
    float: right;
    
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

  .btn-view {
    display: inline-block;
    background-color: #f33a58;
    color: white;
    padding: 10px 120px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    font-weight: 500;
    text-transform:uppercase ;
    text-align: center;
    
   
    transition: all .3s ease-in-out ;
    margin-top: 30px;
}

.btn-view:hover{
    background-color: white;
    color: black;
    
}